{% extends "base.html" %}
{% block content %}
<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    {% load static %}
                    <img src="{% static 'images/default_avatar.png' %}" alt="" width="250" height="250"/>
                    <!--
                    <div class="file btn btn-lg btn-primary">
                        Change Photo
                        <input type="file" name="file"/>
                    </div>
                    -->
                </div>
            </div>
            <div class="col-md">
                <div class="profile-head">
                    <h5>
                    {{ uobj.username }}
                    </h5>
                    <h6>
                        <span><strong>Желаемые cпециальности: </strong></span>
                        {% if user.id == uobj.id %}
                            {% for i in wish %}
                                <a href="/profile/{{user.id}}/wish/{{i}}"><span class="badge badge-success">{{ i }}</span></a>
                            {% endfor %}
                            <span class="open-AddItem btn btn-sm btn-outline-success" data-toggle="modal" data-id="wish" data-target="#add_modal">Добавить</span>
                        {% else %}
                            {% for i in wish %}
                                <span class="badge badge-success">{{ i }}</span>
                            {% endfor %}
                        {% endif %}
                    </h6>
                    <h6>
                        <span><strong>Полученные специальности: </strong></span>
                        {% if user.id == uobj.id %}
                            {% for i in profession %}
                                <a href="/profile/{{user.id}}/profession/{{i}}"><span class="badge badge-warning">{{ i }}</span></a>
                            {% endfor %}
                            <span class="open-AddItem btn btn-sm btn-outline-warning" data-toggle="modal" data-id="profession" data-target="#add_modal">Добавить</span>
                        {% else %}
                            {% for i in profession %}
                                <span class="badge badge-warning">{{ i }}</span>
                            {% endfor %}
                        {% endif %}
                    </h6>
                    <h6>
                        <span><strong>Опыт: </strong></span>
                        {% if user.id == uobj.id %}
                            {% for i in experience %}
                                <a href="/profile/{{user.id}}/experience/{{i}}"><span class="badge badge-primary">{{ i }}</span></a>
                            {% endfor %}
                            <span class="open-AddItem btn btn-sm btn-outline-primary" data-toggle="modal" data-id="experience" data-target="#add_modal">Добавить</span>
                        {% else %}
                            {% for i in experience %}
                                <span class="badge badge-primary">{{ i }}</span>
                            {% endfor %}
                        {% endif %}
                    </h6>
                    <h6>
                        <span><strong>Ограничения: </strong></span>
                        {% if user.id == uobj.id %}
                            {% for i in limits %}
                                <a href="/profile/{{user.id}}/limits/{{i}}"><span class="badge badge-danger">{{ i }}</span></a>
                            {% endfor %}
                            <span class="open-AddItem btn btn-sm btn-outline-danger" data-toggle="modal" data-id="limits" data-target="#add_modal">Добавить</span>
                        {% else %}
                            {% for i in limits %}
                                <span class="badge badge-danger">{{ i }}</span>
                            {% endfor %}
                        {% endif %}
                    </h6>
                    
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">Информация</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="vacancy-tab" data-toggle="tab" href="#vacancy" role="tab" aria-controls="vacancy" aria-selected="false">Вакансии</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="courses-tab" data-toggle="tab" href="#courses" role="tab" aria-controls="courses" aria-selected="false">Курсы</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="options">
                    <br>
                    STATUS<br>
                    {{ uobj.date_joined }}
                    <br><br><br>
                    {% if user.id == uobj.id %}
                        <a class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#profile_modal">Редактировать Профиль</a><br><hr>
                        <a class="btn btn-sm btn-outline-danger" href="/exit">Выйти</a><br>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>ФИО:</label>
                            </div>
                            <div class="col-md-6">
                                <center><p>{{ uobj.profile.fio }}</p></center>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Пол:</label>
                            </div>
                            <div class="col-md-6">
                                <center><p>{{ uobj.profile.sex }}</p></center>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Возраст:</label>
                            </div>
                            <div class="col-md-6">
                                <center><p>
                                    {% if uobj.profile.age == 0 %}
                                        -
                                    {% else %}
                                        {{ uobj.profile.age }}
                                    {% endif %} 
                                </p></center>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Образование:</label>
                            </div>
                            <div class="col-md-6">
                                <center><p>{{ uobj.profile.education }}</p></center>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Группа инвалидности:</label>
                            </div>
                            <div class="col-md-6">
                                <center><p>{{ uobj.profile.group }}</p></center>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Город:</label>
                            </div>
                            <div class="col-md-6">
                                <center><p>{{ uobj.profile.city }}</p></center>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Улица:</label>
                            </div>
                            <div class="col-md-6">
                                <center><p>{{ uobj.profile.street }}</p></center>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Готовность переезжать:</label>
                            </div>
                            <div class="col-md-6">
                                <center><p>{{ uobj.profile.move }}</p></center>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Контактный телефон:</label>
                            </div>
                            <div class="col-md-6">
                                <center><p>{{ uobj.profile.phone }}</p></center>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="vacancy" role="tabpanel" aria-labelledby="vacancy-tab">
                        <center>
                        {% if user.id == uobj.id %}
                            <a class="open-AddItem btn btn-sm btn-outline-primary" data-toggle="modal" data-id="add_vacancy" data-target="#vacancy_modal">Добавить Вакансию</a><br><br>
                            <ul class="list-group list-group-flush">
                                {% for item in vacancy %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <a data-id="{{item.name}}!{{item.date}}!{{item.description}}!{{item.education}}!{{item.mode}}!{{item.city}}!{{item.street}}!{{item.house}}!{{item.email}}!{{item.phone}}!{{item.id}}"
                                    class="open-VacancyInfo" data-toggle="modal" data-target="#info_modal" href="#">{{ item.name }}</a>
                                    <span class="badge badge-primary badge-pill">{{ item.date }}</span>
                                </li>
                                {% empty %}
                                    Вы не добавляли вакансий...
                                {% endfor %}
                            </ul>
                        {% else %}
                            Пользователь не предлагает вакансий...
                        {% endif %}
                        </center>
                    </div>
                    <div class="tab-pane fade" id="courses" role="tabpanel" aria-labelledby="courses-tab">
                        <center>
                        {% if user.id == uobj.id %}
                            <a class="btn btn-sm btn-outline-primary" href="#">Добавить Курс</a><br><br>
                            Вы не добавляли курсов...
                        {% else %}
                            Пользователь не является организатором курсов...
                        {% endif %}
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </form>           
</div>
{% endblock content %}