{% extends "base.html" %}
{% block content %}
<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    {% load static %}
                    <img src="{% static 'images/default_avatar.png' %}" alt="" width="210" height="210"/>
                    <!--
                    <div class="file btn btn-lg btn-primary">
                        Change Photo
                        <input type="file" name="file"/>
                    </div>
                    -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                    {{ uobj.username }}
                    </h5>
                    <h6>
                        <span><strong>Желаемые cпециальности: </strong></span>
                        <span class="badge badge-success">HTML5/CSS</span>
                    </h6>
                    <h6>
                        <span><strong>Полученные специальности: </strong></span>
                        <span class="badge badge-warning">Adobe CS 5.5</span>
                    </h6>
                    <h6>
                        <span><strong>Опыт: </strong></span>
                        <span class="badge badge-primary">Microsoft Office</span>
                    </h6>
                    <h6>
                        <span><strong>Ограничения: </strong></span>
                        <span class="badge badge-danger">Ограничение 1</span>
                    </h6>
                    
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">Информация</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="vacancy-tab" data-toggle="tab" href="#vacancy" role="tab" aria-controls="vacancy" aria-selected="false">Вакансии</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="courses-tab" data-toggle="tab" href="#courses" role="tab" aria-controls="courses" aria-selected="false">Курсы</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="options">
                    <br>
                    STATUS<br>
                    {{ uobj.date_joined }}
                    <br><br><br>
                    {% if user.id == uobj.id %}
                        <a class="btn btn-sm btn-outline-primary" href="#">Редактировать Профиль</a><br><hr>
                        <a class="btn btn-sm btn-outline-danger" href="/exit">Выйти</a><br>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>ФИО:</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ uobj.profile.fio }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Пол:</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ uobj.profile.sex }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Возраст:</label>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    {% if uobj.profile.age == 0 %}
                                        -
                                    {% else %}
                                        {{ uobj.profile.age }}
                                    {% endif %} 
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Образование:</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ uobj.profile.education }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Группа инвалидности:</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ uobj.profile.group }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Город:</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ uobj.profile.city }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Улица:</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ uobj.profile.street }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Готовность переезжать:</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ uobj.profile.move }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="vacancy" role="tabpanel" aria-labelledby="vacancy-tab">
                        <center>
                        {% if user.id == uobj.id %}
                            <a class="btn btn-sm btn-outline-primary" href="#">Добавить Вакансию</a><br><br>
                            Вы не добавляли вакансий...
                        {% else %}
                            Пользователь не предлагает вакансий...
                        {% endif %}
                        </center>
                    </div>
                    <div class="tab-pane fade" id="courses" role="tabpanel" aria-labelledby="courses-tab">
                        <center>
                        {% if user.id == uobj.id %}
                            <a class="btn btn-sm btn-outline-primary" href="#">Добавить Курс</a><br><br>
                            Вы не добавляли курсов...
                        {% else %}
                            Пользователь не является организатором курсов...
                        {% endif %}
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </form>           
</div>
{% endblock content %}