{% extends "base.html" %}
{% block content %}
<div class="row flex-nowrap justify-content-between align-items-center">
  <div class="col-4 pt-1 pb-3">
    {% if user.is_authenticated %}
      <a class="btn btn-outline-success" href="#">Показать Выбранных</a>
    {% endif %}
  </div>
  <div class="col-4 text-center">
    <!-- Search -->
  </div>
  <div class="col-4 d-flex justify-content-end pt-1 pb-3">
    <a class="btn btn-outline-primary" data-toggle="modal" data-target="#vsearch_modal">Фильтр Пользователей</a> 
  </div>
</div>
{% for i in users %}
  <div class="row flex-nowrap justify-content-between align-items-center pt-3">
    <div class="col d-flex justify-content-center">
      {% if i.1 %}
        <input class="FavV" data-id="{{vid}}!{{i.0.id}}!v" type="checkbox" data-toggle="toggle" data-on="+" data-off="-" data-onstyle="primary" data-offstyle="outline-success">
      {% else %}
        <input class="FavV" data-id="{{vid}}!{{i.0.id}}!v" type="checkbox" checked data-toggle="toggle" data-on="+" data-off="-" data-onstyle="primary" data-offstyle="outline-success">
      {% endif %}
    </div>
    <div class="col">
      <a class="h5" href="/profile/{{i.0.id}}">{{i.0.username}}</a>
      <div class="mb-1 text-muted">{{ i.0.date_joined }}</div>
    </div>
    <div class="col">
      <p><strong>ФИО:</strong> {{i.0.profile.fio}}</p>
      <p><strong>Пол:</strong> {{i.0.profile.sex}}</p>
      <p><strong>Возраст:</strong> {{i.0.profile.age}}</p>
      <p><strong>Образование:</strong> {{i.0.profile.education}}</p>
      <p><strong>Город:</strong> {{i.0.profile.city}}</p>
    </div>
    <div class="col">
      {% load static %}
      <img src="{% static 'images/default_avatar.png' %}" width="200" height="200"/>
    </div>
  </div>
  <hr>
{% empty %}
  Доступных пользователей не найдено...
{% endfor %}
{% endblock content %}